---
layout: default
---

<!--<div class="mdl-layout__tab-panel" id="features">-->
<!--<div style="background-color: #fff;">-->
<main>
  <div class="mdl-layout__tab-panel is-active" id="overview">
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <h1 class="post-title">{{ page.title }}</h1>

      {{ content }}
    </div>
  </section>
</div>
</main>

<!--<div class="mdl-layout__tab-panel" id="features">
  <section class="section--center mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--12-col">
      <h4>Features</h4>
      Minim duis incididunt est cillum est ex occaecat consectetur. Qui sint ut et qui nisi cupidatat. Reprehenderit nostrud proident officia exercitation anim et pariatur ex.
      <ul class="toc">
        <h4>Contents</h4>
        <a href="#lorem1">Lorem ipsum</a>
        <a href="#lorem2">Lorem ipsum</a>
        <a href="#lorem3">Lorem ipsum</a>
        <a href="#lorem4">Lorem ipsum</a>
        <a href="#lorem5">Lorem ipsum</a>
      </ul>

      <h5 id="lorem1">Lorem ipsum dolor sit amet</h5>
      Excepteur et pariatur officia veniam anim culpa cupidatat consequat ad velit culpa est non.
      <ul>
        <li>Nisi qui nisi duis commodo duis reprehenderit consequat velit aliquip.</li>
        <li>Dolor consectetur incididunt in ipsum laborum non et irure pariatur excepteur anim occaecat officia sint.</li>
        <li>Lorem labore proident officia excepteur do.</li>
      </ul>

      
    </div>
  </section>
</div>-->